# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

GameDesignDoc.md~
Makefile
chris.cpp~
chris.h~
game.cpp~
game_codyrapp
game_codyrapp.pro
mainwindow.cpp~
mainwindow.h~
moc_mainwindow.cpp
thing.cpp~
thing.h~
.gitignore~
alien.cpp~
alien.h~
comet.cpp~
comet.h~
ship.cpp~
ship.h~
meteor.cpp~
meteor.h~
saucer.cpp~
saucer.h~
mylist.h~


